.container{
    width: 450px;
    height: 370px;
    background-color: burlywood;
    border: solid skyblue;
    justify-content: center;
}
.ex{
    width: 442px;
    height: 100px;
    background-color: cyan;
}
.pack{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.keys{
    width: 30px;
    height: 60px;
    padding:1px;
}
.odp{
    width: 70px;
    height: 70px;
    border-radius: 57px;
    column-gap: -90px;
    row-gap: 56px;
}
.p{
    background-color: red;
    width: 70px;
    height: 70px;
    border-radius: 57px;
}